<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalstitch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomActivity"
            android:parentActivityName=".MaleActivity"></activity>
        <activity android:name=".AdultActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MaleActivity"
            android:label=""></activity>
        <activity android:name=".KidsActivity"

            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MaleActivity"
            android:label=""></activity>
        <activity
            android:name=".BigActivity"
            android:label=""
            android:parentActivityName=".MaleActivity" />
        <activity
            android:name=".SelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FemaleActivity"
            android:label="@string/title_activity_female"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MaleActivity"
            android:label="@string/title_activity_male"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Order"
            android:parentActivityName=".SelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>